/**
*  Code heavily inspired by this article on css-tricks.com
*  https://css-tricks.com/star-ratings/
*/

.star-rating {
  color: gold !important;
  font-size: 20px !important;
}

.star-icon {
    position: relative;
}

.star-icon.full:before {
    color: gold;
    content: '\2605';/* Full star in UTF8 */
    position: absolute;
    left: 0;
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
 }

 .star-icon.half:before {
    color: gold;
    content: '\2605'; /* Full star in UTF8 */
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
}
